<ion-header>
  <ion-toolbar>
    <ion-title>{{ title.getTitle() }}</ion-title>
  </ion-toolbar>
</ion-header>
<div id="container">
  <ion-toggle [checked]="true"[(ngModel)]="speakerOn">Speaker on</ion-toggle> <br /><br />
  <ion-label>Bass </ion-label>
  <ion-label id="bss">{{ bass }}</ion-label>
  <ion-range pin="true" ticks="true" snaps="true" [(ngModel)]="bass" value="0" min="-15" max="15"></ion-range>
  <ion-label>Mid </ion-label>
  <ion-label id="md">{{ mid }}</ion-label>
  <ion-range pin="true" ticks="true" snaps="true" [(ngModel)]="mid" value="0" min="-15" max="15"></ion-range>
  <ion-label>Treble </ion-label>
  <ion-label id="trb">{{ treble }}</ion-label>
  <ion-range pin="true" ticks="true" snaps="true" [(ngModel)]="treble" value="0" min="-15" max="15"></ion-range>
</div>
