<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <app-volume [(volume)]="volume"></app-volume>
    <app-balance [(balance)]="balance" (balanceChange)="onBalanceChange($event)"></app-balance>
    <ion-grid id="grid">
      <ion-row>
        <ion-col id="col">
          <app-left-speaker [(leftSpeakerMuted)]="leftSpeakerMuted" (leftSpeakerMutedChange)="onLeftSpeakerMutedChange()"></app-left-speaker>
        </ion-col>
        <ion-col id="col">
          <app-right-speaker [(rightSpeakerMuted)]="rightSpeakerMuted" (rightSpeakerMutedChange)="onRightSpeakerMutedChange()"></app-right-speaker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>