<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <app-volume></app-volume>
    <app-balance></app-balance>
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-left-speaker></app-left-speaker>
        </ion-col>
        <ion-col>
          <app-right-speaker></app-right-speaker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
